<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<% if current_user.indeks=="12345" %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Gr</th>
      <th>Tekst</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.gr %></td>
        <td><%= question.tekst %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>

<% else %>
  <h2><font color="#dc143c"> Nie masz uprawnień</font> </h2>
<% end %>
