<div class="jumbotron">
<h1>Egzamin z programowania w języku Python</h1>
<h2>IV rok infromatyki IIT/PWSTE 2021</h2>




  <% if user_signed_in? %>
    <h4> Zestaw pytań dla <%= @user.imie %> <%= @user.nazwisko %> wylosowany <%= @zestaw.first.created_at.strftime("%d.%m.%Y o %H:%M") %> </h4>
    <% i=1 %>
    <% @zestaw.each do |z| %>
      <h5>Pytanie.<%= i %></h5>
      <%= z.question.tekst %>
      <% i+=1 %>
    <% end %>
  <% end %>

</div>